.footer {
  margin-top: auto;
  width: 100%;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 1rem 0;
  }
}

.links {
  @media (max-width: 768px) {
    margin-top: var(--mantine-spacing-lg);
    margin-bottom: var(--mantine-spacing-sm);
  }
}