.navbar {
  width: 4.2%;
  height: 100%;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.navbarMain {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  top: var(--mantine-spacing-md);
  left: 50%;
  transform: translateX(-50%);
}

.user {
  position: absolute;
  bottom: var(--mantine-spacing-md);
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .navbar {
    position: absolute;
    transform: translateX(-100%);
  }

  .navbar.open {
    transform: translateX(0);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.hamburger {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1001;
}

.hamburger:hover {
  background: var(--mantine-color-gray-0);
}



.link {
  width: 50px;
  height: 50px;
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
  }

  &[data-active] {
    &,
    &:hover {
      background-color: var(--mantine-color-blue-light);
      color: var(--mantine-color-blue-light-color);
    }
  }
}